@import "./mixin.scss";
@import "./variebles.scss";
@media screen and (max-width: 1475px) {
  .new-bg {
    .book-block {
      margin-left: 700px;
    }
  }
}
@media screen and (max-width: 1320px) {
  .book {
    padding: 0px;
    display: flex;

    .book-block {
      padding-left: 0px;
      margin: auto;
      text-align: center;
    }
  }
}
@media screen and (max-width: 1200px) {
  header {
    .header-block {
      .form-block {
        width: 60%;
      }
    }
  }

  .select-tools {
    height: 650px;
    .select-tools-block {
      flex-direction: column;

      .select-tools-mini-block {
        text-align: center;
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }

  .about {
    height: 900px;

    > div {
      height: 700px;
    }

    .about-block {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 1120px) {
  .choose {
    height: 1050px;
    .choose-block {
      padding-top: 50px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .choose-text {
      order: 2;
      text-align: center;

      .paragraf {
        width: 300px;
        align-self: center;
      }
    }

    .choose-img {
      order: 1;
      img {
        width: 300px;

        &:nth-child(1) {
          margin-bottom: 10px;
        }
      }
      div {
        margin-left: 0px;

        &:nth-child(2) {
          margin-left: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  header {
    .header-block {
      padding-top: 220px;
      .form-block {
        width: 70%;
      }

      .sroll {
        display: none;
      }
    }

    .bhromaon {
      .bhromaon-block {
        margin-top: 265px;
        ul {
          display: none;

          a {
            display: block;
            padding: 5px;
            @include text($mainColor1, Aleo, 14px, 400);
            width: 120px;
          }
        }

        nav {
          position: relative;
        }

        .bs-button {
          text-align: center;
          display: block;
          cursor: pointer;
          @include text($mainColor1, Josefin Sans, 16px, 700);

          &::after {
            content: attr(data-open);
            display: block;
          }
        }

        #bs-menu-checkbox:checked {
          + nav[role="navigation"] ul {
            display: block;
            position: absolute;
            right: 200%;
            bottom: 500%;
          }

          + nav[role="navigation"] .bs-button {
            &::after {
              content: attr(data-close);
            }
          }
        }
      }
    }
  }

  .about {
    height: 800px;
    .about-block {
      img {
        width: 70%;
        margin: auto;
      }

      > div {
        .about-title {
          margin: 0px;
          margin-bottom: 20px;
        }

        .about-text {
          margin-left: 50px;
        }

        width: 70%;
        margin: auto;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    .header-block {
      // padding-top: 220px;
      form {
        margin: 0px;
      }
      .form-block {
        position: relative;

        button {
          position: absolute;
          top: 110%;
          left: 25%;
        }
      }
    }

    .bhromaon {
      .bhromaon-block {
        #bs-menu-checkbox:checked {
          + nav[role="navigation"] ul {
            right: 50%;
            bottom: 400%;
          }
        }
      }
    }
  }

  .book {
    .book-block {
      padding-left: 20px;
      padding-right: 20px;
      width: 80%;
      height: 400px;
    }
  }

  .about {
    .about-block {
      img {
        width: 90%;
      }

      > div {
        .about-title {
          margin-bottom: 20px;
        }

        .about-text {
          margin-left: 30px;
        }

        width: 90%;
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }
}
