@import "./mixin.scss";
@import "./variebles.scss";
@media screen and (max-width: 1475px) {
  .new-bg {
    .book-block {
      margin-left: 700px;
    }
  }
}
@media screen and (max-width: 1320px) {
  .book {
    padding: 0px;
    display: flex;

    .book-block {
      padding-left: 0px;
      margin: auto;
      text-align: center;
    }
  }
}
@media screen and (max-width: 1200px) {
  header {
    .form-block {
      width: 60%;
    }
    // .header-block {
    //   .form-block {
    //     width: 60%;
    //   }
    // }
  }

  .select-tools {
    height: 650px;
    .select-tools-block {
      flex-direction: column;
      > img {
        display: none;
      }

      .select-tools-mini-block {
        text-align: center;
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }

  .about {
    height: 900px;

    > div {
      height: 700px;
    }

    .about-block {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 1120px) {
  .choose {
    height: 1050px;
    .choose-block {
      padding-top: 50px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .choose-text {
      order: 2;
      text-align: center;

      .paragraf {
        width: 300px;
        align-self: center;
      }
    }

    .choose-img {
      order: 1;
      img {
        width: 300px;

        &:nth-child(1) {
          margin-bottom: 10px;
        }
      }
      div {
        margin-left: 0px;

        &:nth-child(2) {
          margin-left: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  header {
    .form-block {
      width: 70%;
    }

    .header-block {
      padding-top: 220px;

      .sroll {
        display: none;
      }
    }

    .bhromaon {
      .bhromaon-block {
        margin-top: 265px;

        ul {
          display: none;
        }

        #open {
          display: block;
        }
      }
    }
  }

  .about {
    height: 800px;
    .about-block {
      img {
        width: 70%;
        margin: auto;
      }

      > div {
        .about-title {
          margin: 0px;
          margin-bottom: 20px;
        }

        .about-text {
          margin-left: 50px;
        }

        width: 70%;
        margin: auto;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    form {
      margin: 0px;
    }
    .form-block {
      position: relative;

      button {
        position: absolute;
        top: 125%;
        left: 20%;
      }
    }
    .header-block {
      // padding-top: 220px;
    }
  }

  .book {
    .book-block {
      padding-left: 20px;
      padding-right: 20px;
      width: 80%;
      height: 400px;
    }
  }

  .about {
    .about-block {
      img {
        width: 90%;
      }

      > div {
        .about-title {
          margin-bottom: 20px;
        }

        .about-text {
          margin-left: 30px;

          &::before {
            bottom: 95%;
          }
        }

        width: 90%;
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }

  footer {
    height: 200px;
    .footer-block {
      padding-top: 50px;
    }
  }
}
