$mainColor1: #ffffff;
$mainColor2: #e8e8e8;
$buttonBgColorHeader: #5474fd;
$bgColorBhromaon: #5474fd;
$bgColorLinkChoose: #5474fd;
$bgColorSelect: #333333;
$bgLinkBook: #5474fd;
$bgColorBook: #232323;
$bgColorAbout: #333333;
